*{
	box-sizing: border-box;
}
.maintitle {
	font-size: 175%;
	margin:0;
	padding: 0;
	margin-bottom: 30px;
	/*background-color: #22ff11;*/
	text-align: center;
	font-family: "Courier New", monospace;
	font-style: italic;
	font-weight: bold;
	width:100%;
}
div{
	
	float:left;

	
}


.bigbox
{	
	background-color: #808080;

	border:1px solid black;
	padding: 10px;
	padding-top: 35px;
	margin:5px;
	margin-right: 10px;
	position: relative;
	font-weight: bold;
	
	
}

.boxS1
{
	background-color: #ffa077;
}
.boxS2{
	background-color: #e7d840;
}

.boxS3{
	background-color: #98ff98;
}
.titlecon{
	position: absolute;
	top: -1px;
	right: -1px;
	
	border: 1px solid black;
	width:120px;
	height: 30px;
	text-align: center;
	font-style: italic;
	font-family:"Courier New", monospace;
	font-weight: bold;
	font-size: 125%;
	padding: 2px;
}

@media (min-width: 992px){
	.s1{
		width:33.33%;
		
	}
	.s2{
		width: 33.33%;
	}
	.s3{
		width: 33.33%;

		
	}
	
}


@media (min-width: 768px) and (max-width: 991px){
	.s1{
		width:50%;
		
	}
	.s2{
		width:50%;
		
	}
	.s3{
		width: 100%;
	}

}



@media(max-width: 767px){
	.s1{
		width: 100%;
	}
	.s2{
		width: 100%;
	}
	.s3{
		width: 100%;
	}
}