body{
	background-color: #A3F7E1;
	padding-bottom: 70px;

}
#header-nav{
	background-color: #808080;
	

}

.navbar-brand {
	margin: 5px auto;
	height: 100px;
	text-align: left;
	font-style: italic;
	float: left;
}

.navbar-brand h1{
	font-size: 2em;
	color: #ffffff;
} 
.navbar-toggle{
	background-color: #ffffff;

}
#nav-list {
	margin-top: 0;
	margin-bottom:0;
	border: 2px solid white;
}
#nav-list a{
	font-size: 1.4em;
	color: white;
	text-align: center;
	font-weight: bold;
	padding: 0;
	/*margin-bottom:10px;*/

}
#nav-list a:hover{
	background: #C2FFFF;
	color: #111;
}
#nav-list hr{
	width: 50%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.head-name{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.element{
	background-color: #7FA8E2;
	border: 2px solid red;
	border-radius: 20px;
	margin-left: 10px;
	margin-top:10px;
	padding: 20px;
	/*height:3000px;*/
	box-shadow: 0 10px 30px #111;
}
h3{
	font-size: 2em;
	font-weight: bold;
	font-size: 1.6em;
	margin-top:0;

}

/*.box-text{
	margin-top:10px;

}
.box-text  span{
	font-style: italic;
	font-weight: 700;
}
.box-text p{
	font-size: 1.4em;
	font-style: italic;
}*/
a{
	font-weight: bold;
	color:#A31931;
}


footer section{
	text-align: right;
	font-style: italic;
	font-size: 0.9em;

}
